*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
.head{
  padding-top: 10px;
  padding-bottom: 5px;
    text-align: center;
    color: black;
    font-size: 15px;
    
}
.head span{
    color: red;
}
nav{
    background-color: #0082e6;
    padding-left: 60px;
    padding-right: 10px;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
}
nav .logo{
    width: 120px;
    padding-left: 30px;
    margin-left: 80px;
    text-align: center;
    padding-top: 10px;
}
nav ul{
    float: right;
    margin-right: 70px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.title{
    text-align: center;
    padding-top: 40px;
}
.title h1{
    font-size: 40px;
}
.title p{
    font-size: 20px;
    color: #7e8181;
}
.container1 {
    max-width: 1200px;
    margin: 0px auto;
}
.heading1{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    background-color: aliceblue;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.home{
    padding-right: 100px;
    padding-left: 70px;
}
.home  h1{
    font-size: 40px;
    padding-bottom: 5px;
}
.home p{
    font-size: 22px;
    text-align: justify;
    color: #7e8181;
}
.heading1 .homeIcon{
    padding-top: 10px;
    height: 50vh;
    border-radius: 30px;
    object-fit: cover;
    padding-right: 60px;
   
}
.container{
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 8px;
   }
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 30px;
}
.title2{
    padding-top: 70px;
    text-align: center;
    font-size: 45px;
}
.gallery a img{
    width: 100%;
}
.line{
    max-width: 1300px;
    margin: 30px auto;
    margin-bottom: 30px;
    padding-right: 20px;
    box-shadow: 0px 4px 3px;
    border: 1px solid #5f6368;
}
.reseaux{
    padding-top: -20px;
    text-align: center;
    font-size: 22px;
}
.reseaux span{
    color: #0082e6;
}
.mail{
    margin-top: 10px;
    font-size: 15;
}

/* @media query for */
@media (max-width: 858px){
    nav .logo{
        width: 100px;
        padding-left: 10px;
        margin-left: -50px;
        padding-top: 5px;
    }
    .head{
        display: none;
    }
   .checkbtn{
    padding-top: 20px;
    display: block;
   }
   .prods{
    display: flex;
    margin: 10px;
    flex-direction: column;
}
.cont{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
}
.prod1{
    padding-right: 20px;
}
.prod2{
     margin-top: 10px;
    padding-left:0px ;
    padding-right: 20px;
}
ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;

   }
   nav ul li{
    display: block;
    margin: 50px;
    line-height: 30px;
   }
   nav ul li a{
    font-size: 20px;
   }
   a:hover, a.active{
    background:none ;
    color: #0082e6;
   }
   #check:checked ~ ul{
    left:0;
   }
   .title h1{
    padding-top: 5px;
    font-size:30px ; 
    }
    .title p{
    font-size: 20px;
    color: #7e8181;
    padding-bottom: 20px;
    }
    .heading1{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    margin-bottom: 40px;
    }
    .home{
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
    }
    .home  h1{
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 5px;
    }
    .home p{
    font-size: 20px;
    text-align: justify;
    color:#7e8181;
    }
    .heading1 .homeIcon{
        width: 100%;
        padding-right: 5px;  
    }
.line{
    max-width: 1300px;
    margin: 30px auto;
    margin-bottom: 30px;
    padding-right: 20px;
    box-shadow: 0px 4px 3px;
    border: 1px solid #5f6368;
}
.reseaux{
    padding-top: -20px;
    text-align: center;
    font-size: 22px;
}
.reseaux span{
    color: #0082e6;
}
}
@media (min-width: 952px) and (max-width:1190px){
    .head{
        display: none;
    }
    nav.logo{
        width: 100px;
        padding-left: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@keyframes slideInLeft {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}
.title{
    animation-name:slideInLeft ;
    animation-duration:1s ;
    animation-timing-function:ease-in ;
    animation-delay:1s ;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:none ;
}
.home {
    animation-name:slideInLeft ;
    animation-duration:2s ;
    animation-timing-function:ease-in ;
    animation-delay:3s ;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:none ;
}
.title2{
    animation-name:slideInLeft ;
    animation-duration:2s ;
    animation-timing-function:ease-in ;
    animation-delay:5s ;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:none ;
}

