*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    margin: 30px auto;
}
.container1 {
    max-width: 1200px;
    margin: 0px auto;
}
body{
    font-family: montserrat;
}
.head{
  padding-top: 10px;
  padding-bottom: 5px;
    text-align: center;
    color: black;
    font-size: 15px; 
}
.head span{
    color: red;
}
nav{
    background-color: #0082e6;
    padding-left: 60px;
    padding-right: 10px;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
}
nav .logo{
    width: 120px;
    padding-left: 30px;
    margin-left: 80px;
    text-align: center;
    padding-top: 10px;
}
nav ul{
    float: right;
    margin-right: 70px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.container {
    max-width: 1100px;
    margin: 10px auto;
}
.home{
    background-image: url(../images/auto.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height:50%;
    text-align: center;
}
.home h1{
    padding-top: 40px;
    font-size: 40px;
    color: #000;
}
.home p{
    color: #fff;
    font-size: 30px;
}
.Propos{
    display: flex;
   
}
.propo{
    padding-right: 10%;
}
.propo p{
     text-align: justify;
}
.activite h1{
    font-size: 40px;
}
.activite{
padding-right: 5%;
margin-right: 40px;
}
.leaders-icons{
    background-color: aliceblue;
    border-radius: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
}
.leader{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
   padding-left: 30px;
   padding-right: 20px;
}
.leader .image {
    width: 170px;
    height: 100px;
}
.partners{
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 25px;
}
.leaders-icons h1{
   margin-bottom: 20px;
   margin-top: 20px;
   font-size: 50px;
}
.mapbox{

    background-color:white;
    border-radius: 20px;
    margin: 90px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    box-shadow: 1px 2px 1px white;
    border: 1px solid white;
}
.mapbox h1{
    color: black;
    font-size: 50px;
}
.btn3{
    border: 1px solid rgb(95, 84, 252);
    padding: 15px 90px;
   text-align: center;
    border-radius: 30px;
    margin-top: 30px;
    color:black;
    background-color: white;
}
.btn3:hover{
    background-color: black;
    color: white;
}
.mapbox h1{
    font-size: 50px;
}
.mapbox p{
    background-color:white;
    border-radius: 22px;
    color:#7e8181;
    font-size: 20px;
}
.mapbox1{
    display: flex;
    justify-content: center;
}

.line{
    max-width: 1300px;
    margin: 30px auto;
    margin-bottom: 30px;
    padding-right: 20px;
    box-shadow: 0px 4px 3px;
    border: 1px solid #5f6368;
}
.reseaux{
    padding-top: -20px;
    text-align: center;
    font-size: 22px;
}
.reseaux span{
    color: #0082e6;
}
/* @media query for */
@media (max-width: 858px){
    nav .logo{
        width: 100px;
        padding-left: 10px;
        margin-left: -50px;
        padding-top: 5px;
    }
    .head{
        display: none;
    }
   .checkbtn{
    padding-top: 20px;
    display: block;
   }
   ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;

   }
   nav ul li{
    display: block;
    margin: 50px;
    line-height: 30px;
   }
   nav ul li a{
    font-size: 20px;
   }
   a:hover, a.active{
    background:none ;
    color: #0082e6;
   }
   #check:checked ~ ul{
    left:0;
   }
  
}
@media (min-width: 952px) and (max-width:1190px){
    .head{
        display: none;
    }
    nav.logo{
        width: 100px;
        padding-left: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
 
}
